[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fairscale = ">=0.4.3"
pandas = ">=1.3.3"
pytorch-lightning = ">=1.4.9"
scikit-learn = ">=1.0.1"
hopfield-layers = {editable = true, git = "https://github.com/ml-jku/hopfield-layers"}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pipfile-sort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
